<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css">
    <!--Embed the script tag for app.js. Use defer so js code will wait for the html code to finish loading-->
    <script type="text/javascript" src="/static/app.js" defer></script>
    <link href="https://fonts.googleapis.com" rel="stylesheet">
</head>
<body class="get_started_body">
    <div class="get_started">
        <div class="get_started_top">
        </div>
        <div class="get_started_signup_or_login">
            <h1>Create Your <span style: class="get_started_header_different_color">SpeechChess</span> Account</h1>
            <form>
                <!--May need to change these types so that I can check the validity of user entries.-->
                <label for="email"></label><br>
                <input type="text" id="email" name="email" placeholder="Email"><br>
                <label for="password"></label><br>
                <input type="password" id="password" name="password" placeholder="Password">            
            </form>
            <p><a href="/user_authentication/login">Login</a></p>      
        </div>
    </div>
</body>
</html>