@import url('https://fonts.googleapis.com/css2?family=Poppins');

/* Root element defines color palette. */
:root{
    --base-clr: rgb(19, 19, 19);
    --line-clr: rgb(0, 204, 255);
    --hover-base-clr: rgb(34, 32, 32);
    --text-clr: white;
    --accent-clr: rgb(0, 204, 255);
    --secondary-text-clr: rgb(145, 145, 145);
    --hover-accent-clr: rgb(0, 255, 234);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Poppins, 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5rem;
}

body {
    background-color: var(--base-clr);
    color: var(--text-clr);
    min-height: 100vh;
    min-height: 100dvh;
    /* Grid will have two columns, one of automatic size, the other grows and shrinks depending on how much space there is.*/
    display: grid;
    grid-template-columns: auto 1fr;
}

/* Format the sidebar. Stretch the whole page, and apply padding. Give a border-right to make it look separate from page. Make sure that 
sidebar stays in place when scrolling.*/
#sidebar{
    background-color: var(--base-clr);
    border-right: 2px solid var(--line-clr);
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 2.5px 10px;
    /* Sets sticking point of sidebar to top edge of viewpoint. And viewpoint always follows you, it's where one views. */
    position: sticky;
    top: 0;
    align-self: start;
}

/* Removes the bullet points. */
#sidebar ul{
    list-style: none;
}

/* First list item in unordered list, the logo, uses flexbox layout with flex end to have it oriented on the right side. */
#sidebar > ul > li:first-child{
    text-align: center;
}

/* Style the logo, this may change if decide to put picture of logo instead of text. */
#sidebar .logo{
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.25px;
    text-align: center;
    margin-left: 25px;
    color: var(--accent-clr);
}

/* Style the class we apply to the li and which holds the current website link. Highlights the current link. */
#sidebar ul li.active a{
    color: var(--accent-clr);
}

/* Highlights the current svg icon selected. */
#sidebar ul li.active a svg{
    fill: var(--accent-clr);
}

/* All share the same style because they should be consistent.*/
#sidebar a, #sidebar .dropdown-btn, #sidebar .logo{
    border-radius: 1em;
    padding: 0.65em;
    text-decoration: none;
    color: var(--text-clr);
    display: flex;
    align-items: center;
    gap: 1em;
}

/* .dropdown-btn buttons are not anchor tags so they need additional information so that they remain the same. */
.dropdown-btn{
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

/* Prevent changes to size of icons and have them be the same color as the text. */
#sidebar svg{
    flex-shrink: 0;
    fill: var(--text-clr);
}

/* Style the spans in anchor tags and dropdown buttons the same. Make sure they fill the parent element so svg icon goes to the right. */
#sidebar a span, #sidebar .dropdown-btn span{
    flex-grow: 1;
}

/* Give the sidebar links and dropdowns a different color when hovering over them with the cursor. */
#sidebar a:hover, #sidebar .dropdown-btn:hover{
    background-color: var(--hover-base-clr);
}

/* Use grid to handle one child element. Control height of grid row to do this and set it to 0fr. Meaning it has no height. */
#sidebar .sub-menu{
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms;
}

/* Div has overflow hidden as it hides elements that don't fit in the container. */
#sidebar .sub-menu > div{
    overflow: hidden;
}

/* Don't show the submenu unless you override the grid-template-rows value to be 1fr. Which adjusts automatically like height auto when the 
submenu should be shown. */
#sidebar .sub-menu.show{
    grid-template-rows: 1fr;
}

/* Make the rotation of arrow svg visible by making it delayed. */
.dropdown-btn svg{
    transition: 200ms;
}

/* Rotate the svg arrow when a submenu is toggled. */
.rotate svg:last-child{
    rotate: -180deg;
}

/* Anchor tags in submenu padded to have indentation. */
#sidebar .sub-menu a{
    padding-left: 2em;
}

/* Sidebar login button. */
#sidebar .login-btn {
    background-color: var(--secondary-text-clr);
    color: var(--text-clr);
    text-align: center;
    cursor: pointer;
    border: 12px solid var(--secondary-text-clr);
    border-radius: 12px;
    font-size: 18px;
    display: block;
    margin: 5px auto;
    width: 225px;
}

#sidebar .login-btn:hover {
    background-color: var(--hover-base-clr);
    border: 12px solid var(--hover-base-clr);
}

/* Sidebar signup button. */
#sidebar .signup-btn {
    background-color: var(--accent-clr);
    color: var(--text-clr);
    text-align: center;
    cursor: pointer;
    border: 12px solid var(--accent-clr);
    border-radius: 12px;
    font-size: 18px;
    display: block;
    margin: 5px auto;
    width: 225px;
}

#sidebar .signup-btn:hover {
    background-color: var(--hover-accent-clr);
    border: 12px solid var(--hover-accent-clr);
}

/* Styles the toggle btn, may change logo text to a picture logo later. */
#toggle-btn{
    margin-left: auto;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.9em;
}

/* Main is a wrapper for the non-sidebar elements of the body on the homepage. All elements have a 20 pixel margin in all directions. */
main {
    padding: 20px;
    margin-top: 40px;

}

/* Flex puts the elements of this container, div chess_board horizontally. So, the img in chess_board is on the left in one column, and
the get_started class is on the right side as it's also in the container. flex-wrap: nowrap forces elements to stay on the same line, and
justify-content: center; to center elements in the display, the pair of display: flex, for each div.*/
div.chess_board, div.play, div.learn, div.puzzles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: nowrap;
}

/* Provided a max width so text doesn't stretch across different displays. */
div.get_started, div.home_play, div.home_learn, div.home_puzzles {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

/* Addressed all the homepage images here to condense code. These new attributes have them scale better and they don't have hardcoded pixel
dimensions like I had before. */
div.chess_board img, div.play img, div.learn img, div.puzzles img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 12px;
    display: block;
}

/* Consistent spacing for headers on the homepage. */
div.get_started h1, div.get_started h2, div.home_play h1, div.home_learn h1, div.home_puzzles h1, div.home_puzzles h2{
    text-align: center;
    font-size: 42px;
    margin: 20px 0;
    line-height: 1.2;
}


div.get_started p.first_line {
    margin-top: 60px;
    color: var(--secondary-text-clr);
    text-align: center;
    font-size: 18px;
    line-height: 1rem;
}

div.get_started p.second_line {
    margin-top: 15px;
    color: var(--secondary-text-clr);
    text-align: center;
    font-size: 18px;
    line-height: 1rem;
}

/* Styles the "Get Started" button. */
div.get_started .getStarted-btn, div.home_play .play-btn, div.home_learn .learn-btn, div.home_{
    background-color: var(--accent-clr);
    color: var(--text-clr);
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    display: block;
    /* Centers button. */
    margin: 30px auto; 
    padding: 18px 32px;
    width: 100%;
    max-width: 420px;
}

div.get_started .getStarted-btn:hover, div.home_play .play-btn:hover, div.home_learn .learn-btn:hover, div.home_ {
    background-color: var(--hover-accent-clr);
    border: none solid var(--hover-accent-clr);
}

/* div.play for homepage. */
div.play {
    margin-top: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

div.home_play h1 {
    position: relative;
    top: 30px;
    font-size: 42px;
    text-align: center;
    margin: 20px;
    line-height: 1.5rem;
}  


div.home_play p.first_line {
    margin-top: 60px;
    color: var(--secondary-text-clr);
    text-align: center;
    font-size: 18px;
    line-height: 1rem;
}

div.home_play p.second_line {
    margin-top: 15px;
    color: var(--secondary-text-clr);
    text-align: center;
    font-size: 18px;
    line-height: 1rem;
}

div.home_play .play-btn:hover {
    background-color: var(--hover-accent-clr);
    border: none solid var(--hover-accent-clr);
}

/* div.learn for homepage. */
div.learn {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

div.home_learn h1 {
    position: relative;
    font-size: 42px;
    text-align: center;
    line-height: 1.5rem;
}

div.home_learn p.first_line{
    margin-top: 30px;
    color: var(--secondary-text-clr);
    text-align: center;
    font-size: 18px;
    line-height: 1rem;
}

div.home_learn p.second_line{
    margin-top: 15px;
    color: var(--secondary-text-clr);
    text-align: center;
    font-size: 18px;
    line-height: 1rem;
}

div.home_learn .learn-btn {
    background-color: var(--accent-clr);
    color: var(--text-clr);
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    display: block
    /* Centers button. */;
    margin: 30px auto;
    padding: 18px 32px;
    width: 100%;
    max-width: 420px;
}

div.home_learn .learn-btn:hover {
    background-color: var(--hover-accent-clr);
    border: none solid var(--hover-accent-clr);
}

/* div.puzzles for homepage. */
div.puzzles {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

div.home_puzzles h1, div.home_puzzles h2{
    position: relative;
    font-size: 42px;
    text-align: center;
    margin: 20px;
    line-height: 1.5rem;
}

div.home_puzzles p.first_line{
    margin-top: 30px;
    color: var(--secondary-text-clr);
    text-align: center;
    font-size: 18px;
    line-height: 1rem;
}

div.home_puzzles p.second_line{
    margin-top: 15px;
    color: var(--secondary-text-clr);
    text-align: center;
    font-size: 18px;
    line-height: 1rem;
}

div.home_puzzles .puzzles-btn {
    background-color: var(--accent-clr);
    color: var(--text-clr);
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    display: block;
    /* Centers button. */
    margin: 30px auto; 
    padding: 18px 32px;
    width: 100%;
    max-width: 420px;
}

div.home_puzzles .puzzles-btn:hover {
    background-color: var(--hover-accent-clr);
    border: none solid var(--hover-accent-clr);
}